@using TaskApp.Models;
@model List<OrganizationModel>;

<div class="organization">
    <h1>Список организаций</h1>
    @foreach (var element in Model)
    {
        <div class="organization-item">
            <p>@element.Name</p>
            <a href="/Employee/Index?id=@element.Id">
                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 12C4 12 5.6 7 12 7M12 7C18.4 7 20 12 20 12M12 7V4M18 5L16 7.5M6 5L8 7.5M15 13C15 14.6569 13.6569 16 12 16C10.3431 16 9 14.6569 9 13C9 11.3431 10.3431 10 12 10C13.6569 10 15 11.3431 15 13Z" stroke="#464455" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
            <a href="/CSV/Index?id=@element.Id">
                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M12.75 4C12.75 3.58579 12.4142 3.25 12 3.25C11.5858 3.25 11.25 3.58579 11.25 4L12.75 4ZM11.25 4L11.25 20H12.75L12.75 4L11.25 4Z" fill="#1C274C" />
                    <path d="M18 14L12 20L6 14" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
            <a onclick="generateClickInput(@element.Id)">
                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M11.25 20C11.25 20.4142 11.5858 20.75 12 20.75C12.4142 20.75 12.75 20.4142 12.75 20H11.25ZM12.75 20L12.75 4L11.25 4L11.25 20H12.75Z" fill="#1C274C" />
                    <path d="M18 10L12 4L6 10" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>
     }
    <div class="reference">
        <a href="/Home/Index">Главная страница</a>
    </div>
</div>


<form method="post" action="/CSV/ImportFile" enctype="multipart/form-data" style="display:none">
    <p>
        <input type="file" name="data" id="organizationInput" onchange="generateClickButton()">
        <input type="text" id="organizationId" name="organizationId">
        <input type="submit" value="Отправить" id="formButton">
    </p>
</form>