<div class="home">
    <h1>Главная страница</h1>
    <a href="/Organization/Index">Просмотр списка организаций</a>
    <a href="/Organization/Create">Добавить организацию</a>
    <a href="/Employee/Create">Добавить нового сотрудника</a>
</div>
